<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycka książki</title>
</head>
<body>
<h1>Edycja książki</h1>
<form th:action="@{/book/admin/update}" method="post" th:object="${book}">
    <label for="title">Tytuł</label><br>
    <input type="text" th:field = "*{title}"><br>
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br>

    <label for="authors">Autorzy</label><br>
    <input type="text" th:field = "*{authors}"><br>
    <span th:if="${#fields.hasErrors('authors')}"
          th:errors="*{authors}"></span><br>

    <input type="hidden" th:field = "*{isbn}"><br>
    <input type="hidden" th:field = "*{price}"><br>

    <label for="publishingYear">Rok publikacji</label><br>
    <input type="number" th:field = "*{publishingYear}"><br>
    <span th:if="${#fields.hasErrors('publishingYear')}"
          th:errors="*{publishingYear}"></span><br>

    <label for="publisher">Wydawnictwo</label><br>
    <input type="text" th:field = "*{publisher}"><br>
    <span th:if="${#fields.hasErrors('publisher')}"
          th:errors="*{publisher}"></span><br>

    <label for="firstEdition">Czy pierwsze wydanie</label><br>
    <input type="checkbox" th:field = "*{firstEdition}"><br>

    <button type="submit">Zapisz</button>
</form>
</body>
</html>